body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
}

body {
  background-image: url("../images/white-wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4.amiable {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background-image: linear-gradient(to right red yellow)
}

img {
  border: 3px solid grey;
  box-sizing: border-box;
}
.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #A39857;
  box-shadow: -1px 1px #A39857, -2px 2px #A39857, -3px 3px #A39857, -4px 4px #A39857, -5px 5px #A39857;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #650827;
  box-shadow: -1px 1px #650827, -2px 2px #650827, -3px 3px #650827, -4px 4px #650827, -5px 5px #650827;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
